*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter';
}
.header{
    background-color: #1a0b2e;
    color: #ffffff;
}
.bavbar{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.bavbar ul{
    list-style: none;
    display: flex;
    gap: 30px;
}
.bavbar ul li{
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;

}   
.logo{
    font-size: 1.5rem;
    color: #EA5773;
    font-weight: bold;
}
.logo span{
    color: #ffffff;
}
.btn-primary{
    padding: 10px 20px;
    
    color: white;
    border: none;
    border-radius: 23px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    background-image: linear-gradient(rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
}
.btn-primary:hover{
    background-color: #c4455c;
}




.banner{
  
    text-align: center;
    padding: 100px 20px;
}

.banner-img{
    position: relative;   
}
.hero-c{
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn-div{
    
}
.btn-new{
    background: #00ff88;
    color: #1a0b2e;
    border: none;
    padding: 10px 20px;
    border-radius: 31px;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    margin: -262px -225px 0px 0px;

}
.hero-m{
     position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero-txt{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero-txt h1{
    font-size: 3.75rem;
    margin-bottom: 20px;
    font-weight: 800;
    color: white;
}
.hero-txt p{
    font-size: 1rem;
    margin-bottom: 30px;
    color: white;
}
.btn-secondary{
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 23px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    background-image: linear-gradient(rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
}
.btn-secondary:hover{
    background-color: #c4455c;
}
..btn-secondary img{
    width: 20px;
    margin-right: 10px;
}
.btn-outline{
    padding: 10px 20px;
    color: #00ff88;
    border: 2px solid #00ff88;
    border-radius: 23px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    background-color: transparent;
    margin: 10px;
}
.btn-outline:hover{
    background-color: #00ff88;
    color: #c4455c;
    
}
.btn-outline img{
    width: 20px;
    margin-right: 10px;
}



/* about section */
#about{
    
    margin: auto;
    align-items: center;
    background: #1a0b2e;
    color: #ffffff;
    padding-bottom: 80px;
    
}
.about-content{
    max-width: 1200px;
    margin:  auto;
    
}
.headLine{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 50px;
}
.about-text p{
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
}
.about-rating{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.about-card h3{
    font-size: 4rem;
    font-weight: 900;
    color: #00ff88;
    padding: 10px;
}
.about-card p{
    font-size: 1rem;
    font-weight: normal;
    color: #ffffff;
    padding: 10px;
}




/* features section  */
#features{
    background-color: #230e3d;
    color: #ffffff;
    padding: 80px 20px;
}
.features-container{
    max-width: 1200px;
    margin: auto;
}
.feature-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(150px, 1fr);
    gap: 30px;
}
.row2{
    grid-column: span 1;
    grid-row: span 2;
}
.col2{
    grid-column: span 2;
    grid-row: span 1;
}
.box{
    background-color: #2a0f4d;
    padding: 30px;
    
    border-radius: 30px;
}
.box img{
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}
.box h3{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.box p{
    font-size: 1rem;
    line-height: 1.6;
}


/* videos section */
#videos{
    background-color: #1a0b2e;
    color: #ffffff;
    padding: 80px 20px;
}
.videos-container{
    max-width: 1200px;
    margin: auto;
}

.video-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.video-box{
    background-color: #250d44;
    border-radius: 10px;
    
}
.video-box h3{
    font-size: 1.5rem;
    font-weight: 700;
    margin:20px 10px;
}
.video-box p{
    font-size: 1rem;
    line-height: 1.6;
    margin: 0 10px 20px 10px;
}
.video-box button{
    color: #00ff88;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

    /* host section  */
#host{
    background-color: #1a0b2e; 
    color: #ffffff;
}
.host-container{
    max-width: 1200px;
    margin: auto;
    padding: 80px 20px;
    text-align: center;
}
.host-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    background: #250d44;
    padding: 40px;
    border-radius: 30px;
}
.host-text{
    flex: 1;
    text-align: left;
}
.host-text h3{
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.host-text p{
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}
.icon img{
    width: 40px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid #533c72;
    padding: 10px;
    cursor: pointer;
}


/* footer sectio */
#footer{
    background-image: url(assets/footer-bg.png);
    background-size: cover;
    background-position: center;

    color: #ffffff;
    padding: 40px 20px;
    text-align: center;
}


.footer-logo{
    font-size: 3rem;
    color: #ffffff;
    font-weight: 900;
    margin-bottom: 20px;
}
.footer-logo span{
    color: #fa26a3;
}
.footer-list{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}
.footer-list li{
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
}
.footer-list li img{
    width: 20px;
    margin-right: 10px;
}
.copywrite{
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 50px;
}


