*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter';
}
.header{
    background-color: #1a0b2e;
    color: whitesmoke;
}
.bavbar{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.bavbar ul{
    list-style: none;
    display: flex;
    gap: 30px;
}
.bavbar ul li{
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;

}   
.logo{
    font-size: 1.5rem;
    color: #EA5773;
    font-weight: bold;
}
.logo span{
    color: #ffffff;
}
.btn-primary{
    padding: 10px 20px;
    background-color: #EA5773;
    color: white;
    border: none;
    border-radius: 23px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
}
.btn-primary:hover{
    background-color: #c4455c;
}
